
datasets/REZK-VAL-20/malignant/Superficial-basal-cell-carcinoma-14.jpg
datasets/REZK-VAL-20/malignant/SSmelanoma-1043.jpg
datasets/REZK-VAL-20/malignant/ssmelanoma-016.jpg
datasets/REZK-VAL-20/malignant/ssm33.jpg
datasets/REZK-VAL-20/malignant/ssm32.jpg
datasets/REZK-VAL-20/malignant/ssm23.jpg
datasets/REZK-VAL-20/malignant/ssm10.jpg
datasets/REZK-VAL-20/malignant/sbcc-leg-17-wdhb.jpg
datasets/REZK-VAL-20/malignant/sbcc-arm-19-wdhb.jpg
datasets/REZK-VAL-20/malignant/nodular-bcc.jpg
datasets/REZK-VAL-20/malignant/nodular-basal-cell-carcinoma-7.jpg
datasets/REZK-VAL-20/malignant/nodular-basal-cell-carcinoma-5-macro.jpg
datasets/REZK-VAL-20/malignant/nodular-basal-cell-carcinoma-1-macro.jpg
datasets/REZK-VAL-20/malignant/nodular-amelanotic-melanoma-macro.jpg
datasets/REZK-VAL-20/malignant/nm7-big.jpg
datasets/REZK-VAL-20/malignant/nm3.jpg
datasets/REZK-VAL-20/malignant/nm-10.jpg
datasets/REZK-VAL-20/malignant/MIS-TS-7319-macro.jpg
datasets/REZK-VAL-20/malignant/MiS-4-macro.jpg
datasets/REZK-VAL-20/malignant/MiS-2-macro.jpg
datasets/REZK-VAL-20/malignant/metastatic-melanoma03.jpg
datasets/REZK-VAL-20/malignant/metastatic-melanoma-18.jpg
datasets/REZK-VAL-20/malignant/metastatic-melanoma-16.jpg
datasets/REZK-VAL-20/malignant/metastatic-melanoma-15.jpg
datasets/REZK-VAL-20/malignant/metastatic-melanoma-13.jpg
datasets/REZK-VAL-20/malignant/metastatic-melanoma-11.jpg
datasets/REZK-VAL-20/malignant/metastatic-melanoma-100.jpg
datasets/REZK-VAL-20/malignant/Melanoma-in-situ-3.jpg
datasets/REZK-VAL-20/malignant/Melanoma-in-situ-1.jpg
datasets/REZK-VAL-20/malignant/lmm19.jpg
datasets/REZK-VAL-20/malignant/lmm18.jpg
datasets/REZK-VAL-20/malignant/lmm15.jpg
datasets/REZK-VAL-20/malignant/lm6.jpg
datasets/REZK-VAL-20/malignant/lm4.jpg
datasets/REZK-VAL-20/malignant/lentigo-maligna-wdhb.jpg
datasets/REZK-VAL-20/malignant/lentigo-maligna-melanoma-leg.jpg
datasets/REZK-VAL-20/malignant/lentigo-maligna-melanoma-0.jpg
datasets/REZK-VAL-20/malignant/lentigo-maligna-hr.jpg
datasets/REZK-VAL-20/malignant/ks2.jpg
datasets/REZK-VAL-20/malignant/kaposi-sarcoma-22.jpg
datasets/REZK-VAL-20/malignant/kaposi-sarcoma-20.jpg
datasets/REZK-VAL-20/malignant/kaposi-sarcoma-13.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024300.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024294.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024292.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024291.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024286.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024285.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024277.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024270.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024269.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024266.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024258.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024251.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024233.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024232.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024225.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024217.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024211.jpg
datasets/REZK-VAL-20/malignant/ISIC_0024208.jpg
datasets/REZK-VAL-20/malignant/gen.jpg
datasets/REZK-VAL-20/malignant/esbcc-arm-13-wdhb-.jpg
datasets/REZK-VAL-20/malignant/BCC-macro-1.jpg
datasets/REZK-VAL-20/malignant/bcc-leg-12-dn.jpg
datasets/REZK-VAL-20/malignant/bcc-arm-28-wdhb.jpg
datasets/REZK-VAL-20/malignant/bcc-4-macro.jpg
datasets/REZK-VAL-20/malignant/bcc-105.jpg
datasets/REZK-VAL-20/malignant/amelanotic-melanoma2.jpg
datasets/REZK-VAL-20/malignant/amelanotic-melanoma-17-of-125.jpg
datasets/REZK-VAL-20/malignant/amelanotic-melanoma-023.jpg
datasets/REZK-VAL-20/malignant/amelanotic-melanoma-017.jpg
datasets/REZK-VAL-20/malignant/3969.jpg
datasets/REZK-VAL-20/malignant/3967.jpg
datasets/REZK-VAL-20/malignant/3965.jpg
datasets/REZK-VAL-20/malignant/3963.jpg
datasets/REZK-VAL-20/malignant/3960.jpg
datasets/REZK-VAL-20/malignant/3959.jpg
datasets/REZK-VAL-20/malignant/3956.jpg
datasets/REZK-VAL-20/malignant/3949.jpg
datasets/REZK-VAL-20/malignant/3939.jpg
datasets/REZK-VAL-20/malignant/3928.jpg
datasets/REZK-VAL-20/malignant/3927.jpg
datasets/REZK-VAL-20/malignant/2982.jpg
datasets/REZK-VAL-20/malignant/2977.jpg
datasets/REZK-VAL-20/malignant/2969.jpg
datasets/REZK-VAL-20/malignant/2968.jpg
datasets/REZK-VAL-20/malignant/2965.jpg
datasets/REZK-VAL-20/malignant/2948.jpg
datasets/REZK-VAL-20/malignant/2947.jpg
datasets/REZK-VAL-20/malignant/2942.jpg
datasets/REZK-VAL-20/malignant/2937.jpg
datasets/REZK-VAL-20/malignant/2935.jpg
datasets/REZK-VAL-20/malignant/2932.jpg
datasets/REZK-VAL-20/malignant/2931.jpg
datasets/REZK-VAL-20/malignant/2921.jpg
datasets/REZK-VAL-20/malignant/2919.jpg
datasets/REZK-VAL-20/malignant/2918.jpg
datasets/REZK-VAL-20/malignant/2914.jpg
datasets/REZK-VAL-20/malignant/2-bowen-disease1.jpg
datasets/REZK-VAL-20/malignant/12a-amelanotic-melanoma.jpg
datasets/REZK-VAL-20/malignant/1244.jpg
datasets/REZK-VAL-20/malignant/1204.jpg
datasets/REZK-VAL-20/malignant/12-pubic-melanoma-m.jpg
datasets/REZK-VAL-20/malignant/1184.jpg
datasets/REZK-VAL-20/malignant/1098.jpg
datasets/REZK-VAL-20/malignant/1097.jpg
datasets/REZK-VAL-20/malignant/1064.jpg
datasets/REZK-VAL-20/malignant/1021.jpg
datasets/REZK-VAL-20/malignant/1017.jpg
datasets/REZK-VAL-20/malignant/1006.jpg
datasets/REZK-VAL-20/malignant/0994.jpg
datasets/REZK-VAL-20/malignant/0952.jpg
datasets/REZK-VAL-20/malignant/0916.jpg
datasets/REZK-VAL-20/malignant/0892.jpg
datasets/REZK-VAL-20/malignant/0883.jpg
datasets/REZK-VAL-20/malignant/0870.jpg
datasets/REZK-VAL-20/malignant/0827.jpg
datasets/REZK-VAL-20/malignant/0772.jpg
datasets/REZK-VAL-20/malignant/0699.jpg
datasets/REZK-VAL-20/malignant/0694.jpg
datasets/REZK-VAL-20/malignant/0692.jpg
datasets/REZK-VAL-20/malignant/0689.jpg
datasets/REZK-VAL-20/malignant/0667.jpg
datasets/REZK-VAL-20/malignant/0653.jpg
datasets/REZK-VAL-20/malignant/0631.jpg
datasets/REZK-VAL-20/malignant-20240606T191119Z-001.zip
datasets/REZK-VAL-20/benign/vascular-malformation52.jpg
datasets/REZK-VAL-20/benign/vascular-malformation51.jpg
datasets/REZK-VAL-20/benign/vascular-malformation37.jpg
datasets/REZK-VAL-20/benign/vascular-malformation33.jpg
datasets/REZK-VAL-20/benign/vascular-malformation30.jpg
datasets/REZK-VAL-20/benign/vascular-malformation26.jpg
datasets/REZK-VAL-20/benign/vascular-malformation24.jpg
datasets/REZK-VAL-20/benign/vascular-malformation23.jpg
datasets/REZK-VAL-20/benign/vascular-malformation14.jpg
datasets/REZK-VAL-20/benign/vascular-malformation09.jpg
datasets/REZK-VAL-20/benign/vascular-malformation01.jpg
datasets/REZK-VAL-20/benign/type6.jpg
datasets/REZK-VAL-20/benign/supernumerary-nipple-08.jpg
datasets/REZK-VAL-20/benign/supernumerary-nipple-02.jpg
datasets/REZK-VAL-20/benign/spitz2.jpg
datasets/REZK-VAL-20/benign/sebks61.jpg
datasets/REZK-VAL-20/benign/sebks50.jpg
datasets/REZK-VAL-20/benign/sebks49.jpg
datasets/REZK-VAL-20/benign/sebks45.jpg
datasets/REZK-VAL-20/benign/sebks43.jpg
datasets/REZK-VAL-20/benign/sebks39.jpg
datasets/REZK-VAL-20/benign/sebks32.jpg
datasets/REZK-VAL-20/benign/sebks29.jpg
datasets/REZK-VAL-20/benign/sebks22.jpg
datasets/REZK-VAL-20/benign/sebks17.jpg
datasets/REZK-VAL-20/benign/sebks13.jpg
datasets/REZK-VAL-20/benign/sebks11.jpg
datasets/REZK-VAL-20/benign/sebks07.jpg
datasets/REZK-VAL-20/benign/sebks04.jpg
datasets/REZK-VAL-20/benign/sebks02.jpg
datasets/REZK-VAL-20/benign/melanocytic-nevus-1-copy.jpg
datasets/REZK-VAL-20/benign/horn-14.jpg
datasets/REZK-VAL-20/benign/horn-12.jpg
datasets/REZK-VAL-20/benign/horn-09.jpg
datasets/REZK-VAL-20/benign/horn-06.jpg
datasets/REZK-VAL-20/benign/bml-h2.jpg
datasets/REZK-VAL-20/benign/blue3.jpg
datasets/REZK-VAL-20/benign/Blue-naevus-T3-macro-v2.jpg
datasets/REZK-VAL-20/benign/atyp6.jpg
datasets/REZK-VAL-20/benign/angiokeratoma-49.jpg
datasets/REZK-VAL-20/benign/angiokeratoma-40.jpg
datasets/REZK-VAL-20/benign/angiokeratoma-30.jpg
datasets/REZK-VAL-20/benign/angiokeratoma-24.jpg
datasets/REZK-VAL-20/benign/angiokeratoma-20.jpg
datasets/REZK-VAL-20/benign/angiokeratoma-12.jpg
datasets/REZK-VAL-20/benign/angiokeratoma-03.jpg
datasets/REZK-VAL-20/benign/angiokeratoma-01.jpg
datasets/REZK-VAL-20/benign/acne-face-3-19.jpg
datasets/REZK-VAL-20/benign/596.jpg
datasets/REZK-VAL-20/benign/585.jpg
datasets/REZK-VAL-20/benign/583.jpg
datasets/REZK-VAL-20/benign/577.jpg
datasets/REZK-VAL-20/benign/572.jpg
datasets/REZK-VAL-20/benign/565_cpy.jpg
datasets/REZK-VAL-20/benign/564.jpg
datasets/REZK-VAL-20/benign/552.jpg
datasets/REZK-VAL-20/benign/531.jpg
datasets/REZK-VAL-20/benign/529.jpg
datasets/REZK-VAL-20/benign/517.jpg
datasets/REZK-VAL-20/benign/502.jpg
datasets/REZK-VAL-20/benign/474.jpg
datasets/REZK-VAL-20/benign/473.jpg
datasets/REZK-VAL-20/benign/467.jpg
datasets/REZK-VAL-20/benign/454.jpg
datasets/REZK-VAL-20/benign/418.jpg
datasets/REZK-VAL-20/benign/416.jpg
datasets/REZK-VAL-20/benign/403.jpg
datasets/REZK-VAL-20/benign/399.jpg
datasets/REZK-VAL-20/benign/393.jpg
datasets/REZK-VAL-20/benign/382.jpg
datasets/REZK-VAL-20/benign/3770.jpg
datasets/REZK-VAL-20/benign/3768.jpg
datasets/REZK-VAL-20/benign/3759.jpg
datasets/REZK-VAL-20/benign/3754.jpg
datasets/REZK-VAL-20/benign/3753.jpg
datasets/REZK-VAL-20/benign/3750.jpg
datasets/REZK-VAL-20/benign/3747.jpg
datasets/REZK-VAL-20/benign/3746.jpg
datasets/REZK-VAL-20/benign/3744.jpg
datasets/REZK-VAL-20/benign/3733.jpg
datasets/REZK-VAL-20/benign/3728.jpg
datasets/REZK-VAL-20/benign/3727.jpg
datasets/REZK-VAL-20/benign/3723.jpg
datasets/REZK-VAL-20/benign/344.jpg
datasets/REZK-VAL-20/benign/336.jpg
datasets/REZK-VAL-20/benign/319.jpg
datasets/REZK-VAL-20/benign/316.jpg
datasets/REZK-VAL-20/benign/311.jpg
datasets/REZK-VAL-20/benign/305.jpg
datasets/REZK-VAL-20/benign/302.jpg
datasets/REZK-VAL-20/benign/247.jpg
datasets/REZK-VAL-20/benign/208528.jpg
datasets/REZK-VAL-20/benign/202783.jpg
datasets/REZK-VAL-20/benign/1317.jpg
datasets/REZK-VAL-20/benign-20240606T191142Z-001.zip
datasets/REZK-VAL-20/.DS_Store
